@import "./reset";

body {
  background-color: lightgreen;
  height: 100vh;
  overflow: scroll;
  width: 100vw;
}

.Header {
  background-color: green;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  width: 100%;

  & &__Heading {
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 32px;
  }
}

.HeaderIcon {
  display: flex;

  &__Item {
    align-items: center;
    background-color: lightseagreen;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    height: 32px;
    width: 32px;

    & + & {
      margin-left: 4px;
    }
  }
}

.Board {
  height: calc(100% - 40px);
  padding-bottom: 8px;
  box-sizing: border-box;
  overflow-x: scroll;
}

.BoardHeader {
  display: flex;
  height: 50px;
  padding: 8px 16px;
  width: 100%;
}

.ListArea {
  box-sizing: border-box;
  height: calc(100% - 50px);
  overflow-x: scroll;
  padding: 0 8px;
  width: 100%;
  white-space: nowrap;
}

.List {
  background-color: greenyellow;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  max-height: 100%;
  width: 300px;
  overflow-y: scroll;
  padding: 8px;
  white-space: normal;
  vertical-align: top;

  & + & {
    margin-left: 8px;
  }
}

.ListHeader {
  align-items: center;
  display: flex;
  height: 36px;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 0 8px;
}

.ListCards {
  .Add {
    margin-top: 8px;
  }
}

.ListCard {
  background-color: #fafafa;
  border-radius: 4px;
  font-size: 1.4rem;
  line-height: 1.6;
  padding: 8px;

  & + & {
    margin-top: 8px;
  }
}

.Button {
  &[data-variant="contained"] {
    background-color: orangered;
    border-radius: 4px;
    color: #fafafa;
    font-size: 1.3rem;
    line-height: 1;
    padding: 8px 12px;
  }

  &[data-variant="plus"],
  &[data-variant="close"] {
    background-color: transparent;
    border: none;
    height: 20px;
    padding: 0;
    position: relative;
    width: 20px;

    &::before,
    &::after {
      background-color: gray;
      content: "";
      display: block;
      height: 2px;
      left: calc(50% - 8px);
      position: absolute;
      width: 16px;
      top: calc(50% - 1px);
    }
  }

  &[data-variant="plus"] {
    &::after {
      transform: rotate(90deg);
    }
  }

  &[data-variant="close"] {
    &:before {
      transform: rotate(-45deg);
    }

    &:after {
      transform: rotate(45deg);
    }
  }
}

.Add {
  display: inline-block;
  overflow-y: scroll;
  width: 100%;
  white-space: normal;

  .Add__Buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 140px;
  }

  .Add__OpenButton {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    font-size: 1.6rem;
    height: 40px;
    padding: 0 8px;
    text-align: left;
    width: 100%;
  }
}

.Input {
  border: 2px solid orangered;
  border-radius: 4px;
  margin-bottom: 4px;
  font-size: 1.4rem;
  height: 36px;
  line-height: 1;
  padding: 0 12px;
  width: 100%;

  &:focus {
    outline: none;
  }

  &.-textarea {
    height: 60px;
    line-height: 1.6;
    padding: 4px 12px;
  }
}

.Edit {
  align-items: center;
  color: #fafafa;
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  line-height: 32px;
  width: 320px;

  .Button {
    margin-left: 4px;
    width: 70px;
  }
}
